<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Ack</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Ack</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Ack</string>
				</dict>
			</dict>
			<key>Bash_Shortcuts</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal shell bash</string>
					</array>
					<key>name</key>
					<string>Bash Shortcuts</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Bash_Shortcuts</string>
				</dict>
			</dict>
			<key>CSS_Device_Media_Queries</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>CSS Device Media Queries</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>CSS_Device_Media_Queries</string>
				</dict>
			</dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Dockerfile</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Dockerfile</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Dockerfile</string>
				</dict>
			</dict>
			<key>Elixir_Guards</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Elixir Guards</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Elixir_Guards</string>
				</dict>
			</dict>
			<key>Font_Awesome</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Font Awesome</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Font_Awesome</string>
				</dict>
			</dict>
			<key>Git</key>
			<dict>
				<key>date</key>
				<date>2021-01-23T16:00:11Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git</string>
				</dict>
			</dict>
			<key>Git_Flow</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>Git Flow</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Git_Flow</string>
				</dict>
			</dict>
			<key>HTML_Entities</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Entities</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Entities</string>
				</dict>
			</dict>
			<key>HTML_Head_Elements</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML Head Elements</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Head_Elements</string>
				</dict>
			</dict>
			<key>HTTP_Header_Fields</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Header Fields</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Header_Fields</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTTP Status Codes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes</string>
				</dict>
			</dict>
			<key>HTTP_Status_Codes_Rails</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>HTTP Status Codes Ruby on Rails</string>
						<string>HTTP Status Codes for Ruby on Rails</string>
						<string>HTTP Status Codes Rails</string>
						<string>HTTP Status Codes for RoR</string>
					</array>
					<key>name</key>
					<string>HTTP Status Codes for Rails</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>HTTP_Status_Codes_Rails</string>
				</dict>
			</dict>
			<key>Keybase.io</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Keybase.io</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Keybase.io</string>
				</dict>
			</dict>
			<key>Kubernetes</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Kubernetes</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Kubernetes</string>
				</dict>
			</dict>
			<key>MIME_Types</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>MIME Types</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>MIME_Types</string>
				</dict>
			</dict>
			<key>Mac_Startup_Keys</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>mac os x startup keys</string>
						<string>macosx startup keys</string>
					</array>
					<key>name</key>
					<string>Mac Startup Keys</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Mac_Startup_Keys</string>
				</dict>
			</dict>
			<key>Prezto</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Prezto</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Prezto</string>
				</dict>
			</dict>
			<key>Prezto_Git</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Prezto Git</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Prezto_Git</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
			<key>YAML</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>YAML</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>YAML</string>
				</dict>
			</dict>
			<key>Yard</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>ruby</string>
					</array>
					<key>name</key>
					<string>Yard</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Yard</string>
				</dict>
			</dict>
			<key>You_Might_Not_Need_jQuery</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>You Might Not Need jQuery</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>You_Might_Not_Need_jQuery</string>
				</dict>
			</dict>
			<key>iTerm2</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>iTerm2</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>iTerm2</string>
				</dict>
			</dict>
			<key>npm</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node package manager</string>
						<string>nodejs package manager</string>
						<string>node.js package manager</string>
					</array>
					<key>name</key>
					<string>npm</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>npm</string>
				</dict>
			</dict>
			<key>tmux</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:28Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>terminal</string>
						<string>shell</string>
						<string>bash</string>
						<string>zsh</string>
					</array>
					<key>name</key>
					<string>tmux</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>tmux</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>absinthe</key>
			<dict>
				<key>date</key>
				<date>2021-01-16T23:02:41Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>absinthe</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>absinthe</string>
				</dict>
			</dict>
			<key>benchee</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>benchee</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>benchee</string>
				</dict>
			</dict>
			<key>broadway</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>broadway</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>broadway</string>
				</dict>
			</dict>
			<key>broadway_cloud_pub_sub</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:32Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>broadway_cloud_pub_sub</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>broadway_cloud_pub_sub</string>
				</dict>
			</dict>
			<key>credo</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:55Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>credo</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>credo</string>
				</dict>
			</dict>
			<key>deep_merge</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:40Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>deep_merge</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>deep_merge</string>
				</dict>
			</dict>
			<key>ecto</key>
			<dict>
				<key>date</key>
				<date>2021-01-21T15:33:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto</string>
				</dict>
			</dict>
			<key>ecto_sql</key>
			<dict>
				<key>date</key>
				<date>2021-01-21T15:33:43Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ecto_sql</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ecto_sql</string>
				</dict>
			</dict>
			<key>ex_machina</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:59Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>ex_machina</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>ex_machina</string>
				</dict>
			</dict>
			<key>finch</key>
			<dict>
				<key>date</key>
				<date>2021-01-22T06:29:31Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>finch</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>finch</string>
				</dict>
			</dict>
			<key>flow</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:42Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>flow</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>flow</string>
				</dict>
			</dict>
			<key>gen_stage</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:52Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>gen_stage</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>gen_stage</string>
				</dict>
			</dict>
			<key>jason</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>jason</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>jason</string>
				</dict>
			</dict>
			<key>mint</key>
			<dict>
				<key>date</key>
				<date>2021-01-22T06:29:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mint</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>mint</string>
				</dict>
			</dict>
			<key>mix_test_watch</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:30Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>mix_test_watch</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>mix_test_watch</string>
				</dict>
			</dict>
			<key>money</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:03Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>money</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>money</string>
				</dict>
			</dict>
			<key>norm</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:00Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>norm</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>norm</string>
				</dict>
			</dict>
			<key>numerix</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:30Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>numerix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>numerix</string>
				</dict>
			</dict>
			<key>oban</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:35Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>oban</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>oban</string>
				</dict>
			</dict>
			<key>off_broadway_kafka</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:05Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>off_broadway_kafka</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>off_broadway_kafka</string>
				</dict>
			</dict>
			<key>open_api_spex</key>
			<dict>
				<key>date</key>
				<date>2021-01-13T19:00:09Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>open_api_spex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>open_api_spex</string>
				</dict>
			</dict>
			<key>phoenix</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix</string>
				</dict>
			</dict>
			<key>phoenix_html</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:33Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_html</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_html</string>
				</dict>
			</dict>
			<key>phoenix_live_view</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:49Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_live_view</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_live_view</string>
				</dict>
			</dict>
			<key>phoenix_pubsub</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:56Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_pubsub</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_pubsub</string>
				</dict>
			</dict>
			<key>phoenix_swagger</key>
			<dict>
				<key>date</key>
				<date>2021-01-15T23:00:07Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>phoenix_swagger</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>phoenix_swagger</string>
				</dict>
			</dict>
			<key>recon</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:39Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>recon</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>recon</string>
				</dict>
			</dict>
			<key>statistex</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:06Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>statistex</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>statistex</string>
				</dict>
			</dict>
			<key>statistics</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:44Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>statistics</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>statistics</string>
				</dict>
			</dict>
			<key>stream_data</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:47Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>stream_data</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>stream_data</string>
				</dict>
			</dict>
			<key>telemetry</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:36Z</date>
				<key>entry</key>
				<dict>
					<key>name</key>
					<string>telemetry</string>
					<key>platform</key>
					<string>hex</string>
					<key>uniqueIdentifier</key>
					<string>telemetry</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Terraform</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:42Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Terraform#readme</string>
					<key>authorLinkText</key>
					<string>rolandjohann</string>
					<key>name</key>
					<string>Terraform</string>
					<key>platform</key>
					<string>usercontribTerraform</string>
					<key>uniqueIdentifier</key>
					<string>Terraform</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>bookmarks</key>
	<array/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/Hex DocSets/phoenix/phoenix.docset</key>
			<string>hex:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Angular.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:36Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ansible.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:34Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bootstrap_4.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:31Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/D3JS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/ElasticSearch.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:44Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Elixir.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:41Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Erlang.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Font_Awesome.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Go.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:43Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:49Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Jasmine.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:46Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:22Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Man_Pages.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:47Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MongoDB.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MySQL.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Nginx.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NumPy.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:00Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Pandas.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Python_3.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:02Z</date>
			</dict>
			<key>http://kapeli.com/feeds/R.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:45:58Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Redis.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_2.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:10Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_6.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:08Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Spring_Framework.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:12Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:14Z</date>
			</dict>
			<key>http://kapeli.com/feeds/VueJS.xml</key>
			<dict>
				<key>date</key>
				<date>2021-01-09T17:46:12Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/Ruby_on_Rails_5.xml</key>
			<dict>
				<key>date</key>
				<date>2020-02-15T16:40:34Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<false/>
	<key>menuIconBehavior</key>
	<integer>1</integer>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>2</integer>
		<key>modifiers</key>
		<integer>2816</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
